:root {
    --black:#212529;
    --gray:rgb(61, 61, 61);
    --white:#fff;
    --light-gray:#ddd;
    --primary:#3B5ABF;
    --secondary:#01C901;
}

/* font-family: 'Merriweather Sans', sans-serif; */
body {
    margin:0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
}

.main-container {
    overflow-x: hidden;
}

.contact-shortcut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    z-index: 2;
    justify-content: space-between;
    background-color: var(--primary);
    color:var(--black) !important;
    padding: 0.4rem 0;
    align-items: center;
}

#mainNav.fixed-top {
    top:30px
};

#mainNav .navbar-nav .nav-item .nav-link {
    color:var(--light-gray);
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color:var(--primary);
}

#mainNav {
    background-color: var(--white);
    transition: all 0.5s ease;
}

#mainNav .navbar-brand {
    color:var(--light-gray);   
}

#mainNav .navbar-brand img {
    height: 40px;
    width: 80px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: var(--black);
}

#mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    padding:0.5rem 0em !important;
}

#mainNav.navbar-shrink .navbar-brand {
    color: var(--black);
}

#mainNav.navbar-shrink .navbar-brand:hover {
    color: #f4623a;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
}

.landing-section {
    position: relative;
    background-color: var(--gray);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color:rgba(0, 0, 0, 0.589); */
    background-image: url(media/images/bg_img.jpeg);
    /* background-blend-mode: color; */
}

.landing-section video {
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    z-index: 0;
    position: absolute;
}

.header-section {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.589);
}

.header-section .landing-title {
    font-size: 3rem;
    width: 100%;
}


.header-section p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* about-section */
.about-section {
    background-color:var(--primary);
    color:var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
    text-align: center;
}

.about-content {
    width: 60%;
    line-height: 1.8;
    letter-spacing: 1px;

}


.gallery-section {
    margin:0 0 2rem 0;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    grid-gap: 2px;
    width: 80%;
}

.image-grid > div {
    height: 200px;
}

.image-grid div img {
    height: 200px;
    object-fit: cover;
    height: 200px;
    object-fit: cover;
    width: 100%;
}


/* team section */
.team-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.members {
    width: 50%;
    display: flex;
}

.members img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.members .team-member {
    margin:1rem;
    text-align: center;
    /* box-shadow: 0px 0px 0.5rem var(--gray); */
    box-shadow: 0px 0px 0.5rem rgb(179 179 179);
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title h3 {
    width: 80%;
    margin:0;
    padding: 0 1rem;
}

.testimonial-section {
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.carousel-item .container-fluid {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* contact section */
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details {
    display: flex;
}

.contact-entry:first-child {
    background-color: var(--secondary);
}

.contact-entry {
    display: flex;
    flex-direction: column;
    /* box-shadow: 2px 2px 0.3em #ddd; */
    padding: 1rem;
    background-color: var(--primary);
    color:var(--white);
    flex: auto 1;
    width: 320px;
    /* border-radius: 5px; */
}

.contact-entry h3 {
    margin:0;
    font-size: 1.2rem;
}

span.icons {
    line-height: 1.8;
    font-size: 1.5rem;
}

.text-plain {
    text-decoration: none;
}
/* footer section */
.footer-section {
    background-color:var(--gray);
    height: 100px;
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.footer-section p {
    margin:0;
}

@media screen and (max-width:480px) {
    #mainNav.fixed-top {
        top:0;
    }

    .contact-shortcut {
        display: none;
    }

    .contact-details {
        flex-direction: column;
    }

    .contact-entry {
        height: 140px;
    }

    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        width: 100%;
    }

    .image-grid img {
        object-fit: cover;
    }

    .team-section {
        display: block;
    }

    .members {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        width: 90%;
        flex-direction:column;
    }
}